<ul class="navbar-nav">
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Songs" asp-page="/Authors/AddAuthor" title="Manage">Авторы</a>
        </li>
    }
</ul>