@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EAD_MusicPlayer.Areas.Songs.Pages.Playlists.AddPlaylist

@{
    ViewData["Title"] = "Добавление трека";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="col justify-content-center">
    <div class="row justify-content-center mt-4">
        <section class="d-flex flex-column">
            <h4>Добавление нового плейлиста</h4>
            <form method="post" id="Playlist" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.PlaylistName"></label>
                    <input asp-for="Input.PlaylistName" class="form-control"/>
                    <span asp-validation-for="Input.PlaylistName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Cover"></label>
                    <input asp-for="Input.Cover" type="file" class="form-control d-flex align-content-center"/>
                    <span asp-validation-for="Input.Cover" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </section>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            @foreach (var playlist in Model.Playlists)
            {
                <div class="mr-5">
                  <div class="border border-dark card">
                      <div style="align-self: flex-start">
                          <a asp-area="Songs" asp-page="PlaylistSongs" asp-route-playListId="@playlist.Id" asp-route-pageNo=1>
                            <img src=@Url.Content($"~/{playlist.PathToCover.Replace('\\', '/')}") style="border-radius: calc(0.25rem - 1px)" width="180" height="180" alt="...">
                          </a>
                          <div class="row align-items-center justify-content-around p-1">
                              @playlist.Name
                              <form method="post" asp-page-handler="Delete" asp-route-playlistId=@playlist.Id>
                                  <button type="submit" class="btn btn-outline-danger">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                      </svg>
                                  </button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>                
            }
        </div>
    </div>
</div>